<div class="footer py-5">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-md-3">
                <a href="index.html"><h2 class="shrikhand mb-0 text-dark">ALPHABOX+</h2></a>
                <p class="mb-0 d-none d-md-block">Copyright © 2023 Hexschool.</p>
            </div>

            <div class="col-md-2 d-flex flex-column justify-content-start justify-content-md-center ">
                <span class="material-symbols-outlined emergency">
                    emergency
                    </span>
            </div>

            
                <ul class=" col-md-3 d-flex flex-column align-items-start flex-md-row justify-content-md-between align-items-md-center mb-0">
                    <li> <a href="about.html" class="text-dark mb-2">關於我們</a> </li>
                    <li> <a href="product.html" class="text-dark mb-2"> 產品資訊 </a></li>
                    <li><a href="faq.html" class="text-dark mb-2">常見問題</a></li>
                    <li><a href="#" class="text-dark mb-2">隱私政策</a></li>
                    <li class="d-block d-md-none" style="letter-spacing: 1.6px;">Copyright © 2023 Hexschool.</li>
                </ul>
            
        </div>     
    </div>
</div>