
//  首頁 cover 

.alphaboxLogo{
  width: 196px;
}


.dimensionA{
  width:24%;
}

.dimensionB{
  width: 48.6%;
}

//首頁cover角色圖片超過margin的設定
.minorMargin{
  margin-bottom: -60px;
}

//在什麼是alphabox+ 加上padding top 不然內容會被角色圖片蓋到
.addPadding{
  padding-top: 84px;
}

//什麼是  alphabox+ 
.bar{
  height: 40px;
}


.carousel-inner{
  margin: 0 auto;
}



.blur{
  backdrop-filter: blur(12px);
}

.feature{
  top: 25%;
  right: 28%;
  text-align: end;
}

//最新消息
.alphaboxLogoSmall{
  width: 132px;
}

//聯絡我們
.dot{
  font-size: 8px;
  line-height: 16px;
}
.remarkBar{
  height: 8px;
  border-radius: 24px;
  width: 90%;
}

.comments{
  height: 120px;
}

//主要角色 

.saira{
  font-size:400px;
  font-family: 'Saira Extra Condensed';
  line-height: 1.5;

}


.castDiane{
  background-color: black;
  &:hover{
    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week8-ai/diane.png?raw=true);
    background-size: cover;
    opacity: 0.5;
  }
}

.castFelix{
  background-color: black;
  &:hover{
    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week8-ai/felix.png?raw=true);
    background-size: cover;
    opacity: 0.5;
  }
}

.castKarina{
  background-color: black;
  &:hover{
    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week8-ai/karina.png?raw=true);
    background-size: cover;
    opacity: 0.5;
  }
}

.castVito{
  background-color: black;
  &:hover{
    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week8-ai/vito.png?raw=true);
    background-size: cover;
    opacity: 0.5;
  }
}
