
//  首頁 cover 

.alphaboxLogo{
  width: 196px;
}


.dimensionA{
  width: 100%;
  @include media-breakpoint-up(md){
    width:24%;
  }
}

.dimensionB{
  width: 100%;
  @include media-breakpoint-up(md){
    width:48.6%;
  }
}


.intro{
  .cover{
    padding-top: 24px;
    padding-bottom: 32px;
    @include media-breakpoint-up (md){
      padding-top: 56px;
      padding-bottom: 56px;
    }
    ul{
      border-top: 1px solid $light;
      @include media-breakpoint-up(md){
        border-top: none;
      }
    }

    .alphaboxStudio{
      width: 100%;
        @include media-breakpoint-up(md){
          width: auto;
        }
      }
    

    .alphaboxStudioLink{
      border-top: transparent;
      @include media-breakpoint-up(md){
        border-top:1px solid $light;

    }

  }
}
}

//首頁cover角色圖片超過margin的設定
.minorMargin{
      margin-bottom: -60px;
}

  

//在什麼是alphabox+ 加上padding top 不然內容會被角色圖片蓋到
.addPadding{
  padding-top: 84px;
}

//什麼是  alphabox+ 
.bar{
  height: 40px;
}

.whatsAlphaboxTitle{
  p{
  font-size: 24px;
  letter-spacing: 24px;
  font-weight: 700;
  @include media-breakpoint-up(md){
    font-size:48px;
    letter-spacing: 48px;
  }
}
ul{
  font-size: 24px;
  width: 100%;
  @include media-breakpoint-up(md){
    font-size: 48px;
    width: 50%;
  }
}
}


.carousel-inner{
  margin: 0 auto;
  width:100%;
  @include media-breakpoint-up(md){
    width:50%
  }
}



.blur{
  backdrop-filter: blur(12px);
}

.feature{
  top: 40%;
  text-align: start;

  @include media-breakpoint-up (md){
    top: 25%;
    right: 28%;
    text-align: end;
  }
}

//最新消息
.alphaboxLogoSmall{
  width: 132px;
}

.lastNews{
  padding-top: 60px;
  padding-bottom: 32px;
  margin-left: 48px;
  margin-right: 48px;
  @include media-breakpoint-up(md){
    padding-top: 160px;
    padding-bottom:40px ;
  } 
  p{
   font-size:40px;
   @include media-breakpoint-up(md){
     font-size: 48px;
   } 
  }
}

.lastNewsHighlight{
  li{
    padding-top: 32px;
    padding-bottom: 32px;
    @include media-breakpoint-up(md){
      padding-top: 40px;
      padding-bottom: 40px;
    } 

  }

  .newsList{
    width: 100%;
    @include media-breakpoint-up(md){
      width: 50%;
    }
  }
  .newsList2{
    @include media-breakpoint-up (md){
      border-right: 1px solid $light;
    }
  }


}

.checkForMore{
  padding-top: 32px;
  padding-bottom: 32px;
  @include media-breakpoint-up (md){
    padding-top: 76px;
    padding-bottom: 96px;
  }
}



//首頁的使用分享&聯絡我們
.indexSection{
  padding-top: 60px;
  padding-bottom: 60px;
  @include media-breakpoint-up (md){
    padding-top: 120px;
    padding-bottom: 40px;
  }
  .col-md-7{
    padding-top: 24px;
  }

}
//首頁的使用分享&聯絡我們 + 產品頁面的使用分享
.indexSectionTitle{
  font-size: 40px;
  letter-spacing: 40px;
  @include media-breakpoint-up(md){
    font-size: 48px;
    letter-spacing: 48px;
  }
 
}

//首頁的使用分享
.swiper-slide{
  height: 416px;
}

.swiper{
  height: 464px;
  margin-left: 0 ;
}
.swiper-scrollbar{
  background: transparent;
}

//觀察element發現會產生出這個,可用於調整scrollbar bar的顏色
.swiper-scrollbar-drag{
  background-color:white;
  width: 100px;
  height: 4px;
}

//聯絡我們
.dot{
  font-size: 8px;
  line-height: 16px;
}
.remarkBarArea{
  width: 50%;
  @include media-breakpoint-up(md){
    width: 100%;
  }
}
.remarkBar{
  height: 8px;
  border-radius: 24px;
  width: 90%;
}

.comments{
  height: 120px;
}

.contactUs{
  button{
    width: 100%;
    @include media-breakpoint-up(md){
      width: 50%;
    }
  }
  .remarkBarArea{
    margin-bottom:20px;
    @include media-breakpoint-up(md){
      margin-bottom:38px ;
    }
  }
}

//主要角色 

.majorCast{
  li{
    width: 50%;
    @include media-breakpoint-up (md){
      width: 25%;
    }
  }
}

.saira{
  font-size:400px;
  font-family: 'Saira Extra Condensed';
  line-height: 1.5;

}


.castDiane{
  background-color: black;
  &:hover{
    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week8-ai/diane.png?raw=true);
    background-size: cover;
    opacity: 0.5;
  }
}

.castFelix{
  background-color: black;
  &:hover{
    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week8-ai/felix.png?raw=true);
    background-size: cover;
    opacity: 0.5;
  }
}

.castKarina{
  background-color: black;
  &:hover{
    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week8-ai/karina.png?raw=true);
    background-size: cover;
    opacity: 0.5;
  }
}

.castVito{
  background-color: black;
  &:hover{
    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week8-ai/vito.png?raw=true);
    background-size: cover;
    opacity: 0.5;
  }
}
