body{
    font-family:  'Noto Sans TC', sans-serif;
}



*, ::after, ::before {
    box-sizing: border-box;
  }

img {
    height: auto;
    max-width: 100%;
       vertical-align: middle;
   }
a{
  text-decoration: none;
}
//container設定
.container{
  max-width: 1296px;
  
}
  




.containerB{
  padding-left: 12px;
  padding-right: 12px;
  max-width: 1760px;
  margin: 0 auto;
  
  
}

//常用到的米字符號
.emergency{
  font-size: 64px;
  line-height: 1.25;
}

//特殊字體
.shrikhand{
    font-family: 'Shrikhand', cursive;
    line-height: 1.5;    
  }

// 背景顏色
// header的顏色
 .headerBG{
    background:#7000FF 0%;
}

// dividirBarBG
.dividerbarBG{
background: linear-gradient(90deg,#7000FF 0%, #11002D 100%)
}

//首頁的使用分享
.primaryBGReverse{
  background: radial-gradient(50% 50.00% at 50% 50.00%, #000 0%, #28085C 100%);
}


//首頁的最新消息＆聯絡我們頁面＆註冊頁面＆登入頁面&最新消息頁面
.primaryBG{
  background: radial-gradient(50% 50.00% at 50% 50.00%, #28085C 0%, #000 100%);
}

//首頁的聯絡我們
.minorBG{
  background: #1F0F39;
}

//關於我們頁面
.secondaryBG{
  background: radial-gradient(50% 50.00% at 50% 50.00%, #300871 0%, #000 100%);  
}

//產品介紹的使用分享部分
.usercommentBG{
  background: radial-gradient(105.81% 105.81% at 50% 50%, #28085C 0%, #000 100%);

}

//submit按鈕的顏色
.subBtnBG{
  background-color: #6E01F8;
}

//璇轉效果
@keyframes rotate {
  0%{transform:rotate(0deg);}
  100%{transform:rotate(360deg);}
}

.rotation{
  animation-name:rotate;
  animation-duration: 20s;
  animation-delay:0s;
  animation-iteration-count: infinite;
    
  }

//自訂通用類別

//2rem的軸向padding
.py2{
    padding-top: 32px;
    padding-bottom: 32px;
  }

.pt25{
    padding-top: 40px;
   
}

.pb2{
  
  padding-bottom: 32px;
}
//2.5rem的軸向padding
.py25{
  padding-top: 40px;
  padding-bottom: 40px;
}
.pb25{
  padding-bottom: 40px;
}

.p525{
  padding-top: 40px;
}
//2.5rem的橫向padding
.px25{
  padding-left: 40px;
  padding-right: 40px;
}



//4rem的軸向padding
.py4{
  padding-top: 64px;
  padding-bottom: 64px;
}

//5rem的bottom padding
.pt5{
  padding-top: 80px;
}

//5rem的bottom padding
.pb5{
  padding-bottom: 80px;
}

//9rem的軸向padding
.py9{
  padding-top: 144px;
  padding-bottom: 144px;
}

//10rem的軸向padding
.py10{
  padding-top: 160px;
  padding-bottom: 160px;
}

.px5{
  padding-left: 80px;
  padding-right: 80px;
}

.pt10{
  padding-top: 160px;
}
//6.5rem的軸向padding
.py65{
  padding-top: 114px;
  padding-bottom: 114px;
}

.pt65{
  padding-top: 114px;
}

//7.5rem的軸向padding
.pb75{
  padding-bottom: 120px;
}

.pt75{
  padding-top: 120px;
}

.py75{
  padding-top: 120px;
  padding-bottom: 120px;
}



//2.5rem的橫向padding 
.px25{
  padding-left: 40px;
  padding-right: 40px;
  }
//

.letterSpacing14{
  letter-spacing: 14px;
}

.letterSpacing16{
  letter-spacing: 16px;
}

.letterSpacing32{
  width: 100%;
  letter-spacing: 24px;
  @include media-breakpoint-up (md){
    letter-spacing: 32px;
  }

}


.letterSpacing48{
  @include media-breakpoint-up (md){
    letter-spacing: 48px;
  }
}

.letterSpacing20{
  letter-spacing: 20px;
}
